[buildout]
extends =
    base.cfg
newest = false

extensions = mr.developer
auto-checkout = *
always-checkout = false

eggs +=
    Products.ZMIntrospection
    collective.codemirror
    ipdb
    pdbpp
    readline
#    edw.bookcollection
    omiron.blog
    awesome-slugify

zcml +=
    collective.codemirror
#    edw.bookcollection
    omiron.blog

parts +=
    ptprofiler
    zopeprofiler
    zptdebugger
    test

develop +=
#    src/edw.bookcollection
    src/omiron.blog

#instance extends base.cfg:instance
[instance]
http-address = 8080

debug-mode = on
verbose-security = on

event-log-level = INFO
event-log = ${buildout:directory}/logs/event.log

z2-log-level = INFO
z2-log = ${buildout:directory}/logs/Z2.log


#mr.developer config: https://pypi.python.org/pypi/mr.developer

[ptprofiler]
recipe = plone.recipe.bundlecheckout
url = https://svn.infrae.com/PTProfiler/trunk
subfolder = PTProfiler


[zopeprofiler]
recipe = plone.recipe.distros
urls = http://www.dieter.handshake.de/pyprojects/zope/ZopeProfiler.tgz


[zptdebugger]
recipe = plone.recipe.bundlecheckout
url = https://svn.plone.org/svn/collective/ZPTDebugger/trunk
subfolder = ZPTDebugger


[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}
    cssselect
    Mock
    pdbpp


[testenv]
CLIENT_HOME = ${buildout:directory}/var/instance

[sources]
omiron.blog = git git@github.com:omiron/omiron.blog.git
